@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, .font-sans, button, input, select, textarea {
    font-family: 'Inter', sans-serif !important;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/80 backdrop-blur-md border border-white/10 shadow-xl;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3b82f655;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6aa;
}
